
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  height: 625px;
  width: 1100px;
  min-height: 625px;
  min-width: 1100px;
  border: 1px solid rgb(181, 255, 238);
}

circle {
  position: absolute;
  z-index: 500;
  stroke-width: 1px;
  stroke-width: 1px;
  stroke: lightcyan;
  fill: cadetblue;
}

svg {
  height: 625px;
  width: 1100px;
  position: absolute;
  z-index: 100;
  fill: none;
}

.mapboxgl-control-container {
  display: none;
}

.flowline {
  fill: none;
  stroke: rgb(181, 255, 238);
  opacity: 1;
  stroke-width: 2;
  stroke-dasharray: 1, 14;
  animation: flow 0.1s linear infinite;
  -webkit-animation: flow 0.1s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}


#containerDiv {
  height: 97%;
  width: 97%;
  border: 1px solid rgb(181, 255, 238);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


#country-title {
  color: rgb(181, 255, 238);
  padding: 3px 0px 3px 0px;
  background: black;
  height: 20px;
  width: 95%;
  text-align: center;
  border-bottom: 1px solid rgb(181, 255, 238);
}

#country-body {
  width: 95%;
  color: rgb(181, 255, 238);
  font-size: 10px;
}

#body-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col2 {
  margin-left: 10px;
}

.col3 {
  margin-left: 10px;
}

.total {
  margin-top: 3px;
  border-top: 1px solid rgb(181, 255, 238);
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
}

.banner {
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
  color: rgb(181, 255, 238);
  font-weight: lighter;
  letter-spacing: 5px;
}

polygon {
  fill: linear-gradient(red, yellow);
  stroke: white;
  stroke-width: 1px;
}
